    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@bzigterman">
    <meta name="twitter:site" content="@bzigterman">
    <meta name="twitter:image" content="{{ page.imageurl }}">
    <meta name="og:image" content="{{ page.imageurl }}">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ page.dir }}">
    <meta property="og:description" content="{{ page.dir }}" />
    <meta property="twitter:description" content="{{ page.dir }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta property="og:title" content="Ben Zigterman" />
    <meta property="twitter:title" content="Ben Zigterman" />    
    {% endif %}