---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div> 
  
  <div>
  <div class="post-nav-newer">
    {% if page.next.url %}
    <a href="{{page.next.url}}">Newer&nbsp;&raquo;</a>
    {% endif %}
  </div>
  <div class="post-nav-older">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">&laquo;&nbsp;Older</a>
    {% endif %}
  </div>
  </div>
 
</article>
